
.login
{
    width: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3em;
}


.addbutton
{
    margin-top: 2em;
    margin-left: 2em;
}

.search
{
    width: 47%;
}

.searchuser
{
    padding-right: 2em;
    width: 54%;
}

.player
{
    width: 400px;
}

@media (max-width:700px) {
    .text-end
    {
        margin-left: -50px;
    }
    .nav_user
    {
        margin-left: 10px;
    }
    .searchuser
    {
        margin-top: -8px;
        margin-left: 3em;
    }
    .player
    {
        width: 100%;
    }
    .song
    {
        text-align: center;
    }
}